frontends:
 - listen: 'tcp:0.0.0.0:8085'
   concurrency: 600
   set_headers:
    - name: 'X-Real-Ip'
      value: '${HEADER:X-Forwarded-For}'
 - listen: 'tcp:0.0.0.0:8086'
   concurrency: 2
   is_control: true
backends:
 - address: 'raw:native:unix:/run/rotator.sock'
   connections: 500
   url_regexp: '^https?://rotator\.(localhost|tsyndicate.com|run(ative)?-syndicate.com)(:[0-9]*)?/'
 - address: 'raw:native:unix:/run/pixel.sock'
   connections: 100
   url_regexp: '^https?://pixel\.(localhost|tsyndicate.com|run(ative)?-syndicate.com)(:[0-9]*)?/'
 - url_regexp: '^https?://health-check/'
   return: 200
