frontends:
 - listen: 'tcp:0.0.0.0:8085'
   concurrency: 600
 - listen: 'tcp:0.0.0.0:8086'
   concurrency: 2
   is_control: true
backends:
 - address: 'go/net/http:gob:unix:/run/rotator.sock'
   connections: 500
   url_regexp: '^https?://rotator\.(localhost|tsyndicate.com|run(ative)?-syndicate.com)(:[0-9]*)?/'
 - address: 'go/net/http:gob:unix:/run/pixel.sock'
   connections: 100
   url_regexp: '^https?://pixel\.(localhost|tsyndicate.com|run(ative)?-syndicate.com)(:[0-9]*)?/'
